[Unit]
Description=Start Access Point on Boot if Required
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/setup_ap.sh 

[Install]
WantedBy=multi-user.target
