[Unit]
Description=Start Access Point on Boot if Required
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/setup_ap.sh boot
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
